<footer style="background-image: url('assets/images/all-img/footer-bg.png');">
    <div class="footer-inner">
        <div class="footer-logo">
            <img src="assets/images/logo/logo-image.png" alt="Hella Hemp">
        </div>
        <div class="footer-social">
            <ul>
                <li>
                    <a href="#">
                        <img src="assets/images/ICON/Instagram.svg" alt="Hella Hemp">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/images/ICON/Instagram.svg" alt="Hella Hemp">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/images/ICON/Instagram.svg" alt="Hella Hemp">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/images/ICON/Instagram.svg" alt="Hella Hemp">
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-nav">
            <ul>
                <li>
                    <a href="#">
                        HOME
                    </a>
                </li>
                <li>
                    <a href="#">
                        SHOP
                    </a>
                </li>
                <li>
                    <a href="#">
                        OUR STORY
                    </a>
                </li>
                <li>
                    <a href="#">
                        HELLA QUALITY
                    </a>
                </li>
                <li>
                    <a href="#">
                        CONTACT
                    </a>
                </li>
            </ul>
        </div>
        <div class="legal-text">
            <p>
                FOOD AND DRUG ADMINISTRATION (FDA) DISCLOSURE
                <br> This product is not for use by or sale to persons under the age of 21. 
                <br>This product should be used only as directed on the label. It should not be used if you are pregnant or nursing. 
                <br>Consult with a physician before use if you have a serious medical condition or use prescription medications. 
                <br>A Doctor's advice should be sought before using this and any supplemental dietary product. 
                <br>All trademarks and copyrights are property of their respective owners and are not affiliated with nor do they endorse this product. 
                <br>These statements have not been evaluated by the FDA. This product is not intended to diagnose, treat, cure or prevent any disease. 
                <br>Individual weight loss results will vary. By using this site, you agree to follow the Privacy Policy and Terms & Conditions printed on this site. 
                <br>Void Where Prohibited by Law. US GOVERNMENT PATENT #6,630,507: "CANNABINOIDS AS ANTIOXIDANTS AND NEUROPROTECTANTS
            </p>
        </div>
        <div class="copyright">
            <p>
                Hella Hemp Co. © 2020 All Rights Reserved.
            </p>
        </div>
    </div>
</footer>