<header>
    <div class="header-inner">
        <div class="container">
            <div class="row">
                <div class="feature-wrapper w-100">
                    <div class="feature-single">
                        <img src="assets/images/icon/free-shipping.svg" alt="Hella Hemp">
                        <p>Free shipping on all orders over $99</p>
                    </div>
                    <div class="feature-single">
                        <img src="assets/images/icon/money-back.svg" alt="Hella Hemp">
                        <p>100% money back guarantee</p>
                    </div>
                    <div class="feature-single">
                        <img src="assets/images/icon/cs.svg" alt="Hella Hemp">
                        <p>Online support 24/7</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>