<div class="cbd">
    <div class="cbd-inner">
        <div class="cbd-left">
            <h3>RELAX!
                <br>IT'S JUST CBD
            </h3>
            <p>Looking for the best hemp? You are in the right place! Hella Hemp provides
                quality hemp for those looking to chill out or power up. Our hemp flowers
                are enriched with terpines for a unique flavor profile that really kicks.
                Enjoy a smoke and remember - relax, it's just CBD! </p>
                <a href="#">Hella Shop</a>
        </div>
        <div class="cbd-right">
            <img src="assets/images/all-img/cbd_01.png" alt="CBD">
        </div>
    </div>
</div>