<div class="join-community section-padding">
    <div class="jc-inner">
        <div class="jc-head text-center">
            <img src="assets/images/icon/instagram.svg" alt="Instagram">
            <h2>JOIN HELLA COMMUNITY</h2>
            <p>Tag your favorite products on instagram with #hellahemp</p>
        </div>
        <div class="jc-content">
            <div class="jc-images-single">
                <img src="assets/images/all-img/jc-image-01.jpg" alt="Hella Hemp">
                <img src="assets/images/all-img/jc-image-02.jpg" alt="Hella Hemp">
            </div>
            <div class="jc-images-single">
                <img src="assets/images/all-img/jc-image-01.jpg" alt="Hella Hemp">
                <img src="assets/images/all-img/jc-image-02.jpg" alt="Hella Hemp">
            </div>
            <div class="jc-images-single">
                <img src="assets/images/all-img/jc-image-01.jpg" alt="Hella Hemp">
                <img src="assets/images/all-img/jc-image-02.jpg" alt="Hella Hemp">
            </div>
            <div class="jc-images-single">
                <img src="assets/images/all-img/jc-image-01.jpg" alt="Hella Hemp">
                <img src="assets/images/all-img/jc-image-02.jpg" alt="Hella Hemp">
            </div>
            <div class="jc-images-single">
                <img src="assets/images/all-img/jc-image-01.jpg" alt="Hella Hemp">
                <img src="assets/images/all-img/jc-image-02.jpg" alt="Hella Hemp">
            </div>
        </div>
    </div>
</div>