<div class="popular-products">
    <div class="section-padding">
        <div class="pp-inner w-100">
            <div class="section-heading">
                <h2>MOST POPULAR</h2>
            </div>
            <div class="section-content">
                <div class="p-product-single">
                    <p>1 Gram Pre-Rolled</p>
                    <h3>ORANGE SODA</h3>
                    <p class="p-price">$9.99</p>
                    <div class="p-product-image">
                        <img src="assets/images/all-img/orange-soda.png" alt="Orange Soda">
                    </div>
                    <a href="#">Add to Cart</a>
                    <i class="fa fa-plus"></i>
                </div>
                <div class="p-product-single">
                    <p>1 Gram Pre-Rolled</p>
                    <h3>BLUBERRY AK</h3>
                    <p class="p-price">$9.99</p>
                    <div class="p-product-image">
                        <img src="assets/images/all-img/bluberry-ak.png" alt="BLUBERRY AK">
                    </div>
                    <a href="#">Add to Cart</a>
                    <i class="fa fa-plus"></i>
                </div>
                <div class="p-product-single">
                    <p>1 Gram Pre-Rolled</p>
                    <h3>strawberry cough</h3>
                    <p class="p-price">$9.99</p>
                    <div class="p-product-image">
                        <img src="assets/images/all-img/strawberry-cough.png" alt="strawberry cough">
                    </div>
                    <a href="#">Add to Cart</a>
                    <i class="fa fa-plus"></i>
                </div>
            </div>
        </div>
    </div>
</div>