<div class="what-new section-padding">
    <div class="wn-inner">
        <div class="section-heading">
            <h2>WHAT'S NEW</h2>
        </div>
        <div class="section-content">
             <div class="wn-slider">
                 <div class="sn-slider-single">
                     <img src="assets/images/all-img/what's_new_01.jpg" alt="What's New">
                 </div>
                 <div class="sn-slider-single">
                     <img src="assets/images/all-img/what's_new_01.jpg" alt="What's New">
                 </div>
                 <div class="sn-slider-single">
                     <img src="assets/images/all-img/what's_new_01.jpg" alt="What's New">
                 </div>
                 <div class="sn-slider-single">
                     <img src="assets/images/all-img/what's_new_01.jpg" alt="What's New">
                 </div>
                 <div class="sn-slider-single">
                     <img src="assets/images/all-img/what's_new_01.jpg" alt="What's New">
                 </div>
             </div>
        </div>
    </div>
</div>
