<div class="home-banner" style="background-image: url('assets/images/all-img/banner-image-home.jpg');">
    <div class="banner-inner">
        <div class="container">
            <div class="row">
                <div class="banner-content w-100">
                    <img src="assets/images/logo/logo.png" alt="Hella Hemp">
                </div>
                <nav>
                    <div class="nav-left">
                        <div class="menu-icon">
                            <img src="assets/images/icon/menu.png" alt="Menu">
                        </div>
                        <a href="" class="shop-menu">SHOP</a>
                    </div>
                    <div class="nav-right">
                        <div class="search-icon">
                            <img src="assets/images/icon/search.svg" alt="Search">
                        </div>
                        <div class="cart-icon">
                            <img src="assets/images/icon/cart.svg" alt="Cart">
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>