.section-padding{
    padding: 150px 0px;
}
.section-heading{
    margin-bottom: 100px;
    text-align: center;
    h2{
        color: #1e1e1e;
        font-weight: 900;
        font-size: 35px;
        line-height: 1;
    }
}