.what-new{
    &.section-padding{
        padding-top: 190px;
        padding-bottom: 130px;
    }
    .wn-slider{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        .sn-slider-single{
            padding: 0px 50px;
            // &[tabindex="-1"]{
            //     opacity:0;
            // }
        }
        .control-c{
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(180deg);
            left: 115px;
            width: 60px;
            z-index: 99;
            &.next{
                left: unset;
                right: 115px;
                transform: translateY(-50%) rotate(0deg);
            }
        }
    }
}